{% extends 'base.html' %} 
  <!-- Page Content -->
	{% block header %}
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
				<h1>{% block title %}Set Ranges{% endblock %}</h1>
				</div>
			</div>
		</div>
		<form action="{{ url_for('ranges.update') }}" method="POST">
			<div class="container">
				<div class="row" style="margin-top: 15px; margin-bottom: 15px">
					<div class="col-md-4 text-center">
						<h4>Air Temperature</h4>
					</div>
					<div class="col-md-4 text-center">
						<h4>Air Humidity</h4>
					</div>
					<div class="col-md-4 text-center">
						<h4>Soil Moisture</h4>
					</div>
				</div>
	  			<div class="row" style="margin-bottom: 15px">
	    			<div class="col-md-4 text-center">
	      				<div class="container rounded bg-danger text-white">
	      					<h5>High Danger Zone</h5>80F<input id="airTempHighDanger" name="airTempHighDanger" type="range" min="80" max="100" value="{{ values['airTempHighDanger']}}" oninput="airTempHighDangerOutput.value = airTempHighDanger.value">100F
	         				<p><output id="airTempHighDangerOutput">{{ values['airTempHighDanger']}}</output>F</p>
	      				</div>
	    			</div>
	    			<div class="col-md-4 text-center">
						<div class="container rounded bg-danger text-white">	
	      					<h5>High Danger Zone</h5>80%<input id="airHumHighDanger" name="airHumHighDanger" type="range" min="80" max="100" value="{{ values['airHumHighDanger']}}" oninput="airHumHighDangerOutput.value = airHumHighDanger.value">100%
	         				<p><output id="airHumHighDangerOutput">{{ values['airHumHighDanger']}}</output>%</p>
	    				</div>
	    			</div>	
	    			<div class="col-md-4 text-center">
	    				<div class="container rounded bg-danger text-white">
							<h5>High Danger Zone</h5>80%<input id="soilMoistHighDanger" name="soilMoistHighDanger" type="range" min="80" max="100" value="{{ values['soilMoistHighDanger']}}" oninput="soilMoistHighDangerOutput.value = soilMoistHighDanger.value">100%
			         		<p><output id="soilMoistHighDangerOutput">{{ values['soilMoistHighDanger']}}</output>%</p>
			    		</div>
			    	</div>
				</div>
				<div class="row" style="margin-bottom: 15px">
	    			<div class="col-md-4 text-center">
	      				<div class="container rounded bg-warning text-white">
	      					<h5>High Warning Zone</h5>60F<input id="airTempHighWarning" name="airTempHighWarning" type="range" min="60" max="79" value="{{ values['airTempHighWarning']}}" oninput="airTempHighWarningOutput.value = airTempHighWarning.value">79F
	      					<p><output id="airTempHighWarningOutput">{{ values['airTempHighWarning']}}</output>F</p>
	      				</div>
	    			</div>
	    			<div class="col-md-4 text-center">
						<div class="container rounded bg-warning text-white">	
	      					<h5>High Warning Zone</h5>60%<input id="airHumHighWarning" name="airHumHighWarning" type="range" min="60" max="79" value="{{ values['airHumHighWarning']}}" oninput="airHumHighWarningOutput.value = airHumHighWarning.value">79%
	      					<p><output id="airHumHighWarningOutput">{{ values['airHumHighWarning']}}</output>%</p>
	    				</div>
	    			</div>	
	    			<div class="col-md-4 text-center">
	    				<div class="container rounded bg-warning text-white">
							<h5>High Warning Zone</h5>60%<input id="soilMoistHighWarning" name="soilMoistHighWarning" type="range" min="60" max="79" value="{{ values['soilMoistHighWarning']}}" oninput="soilMoistHighWarningOutput.value = soilMoistHighWarning.value">79%
							<p><output id="soilMoistHighWarningOutput">{{ values['soilMoistHighWarning']}}</output>%</p>
			    		</div>
			    	</div>
				</div>
				<div class="row" style="margin-bottom: 15px">
	    			<div class="col-md-4 text-center">
	      				<div class="container rounded bg-success text-white">
	      					<h5>Good Zone</h5>40F<input id="airTempGood" name="airTempGood" type="range" min="40" max="59" value="{{ values['airTempGood']}}" oninput="airTempGoodOutput.value = airTempGood.value">59F
	      					<p><output id="airTempGoodOutput">{{ values['airTempGood']}}</output>F</p>
	      				</div>
	    			</div>
	    			<div class="col-md-4 text-center">
						<div class="container rounded bg-success text-white">	
	      					<h5>Good Zone</h5>40%<input id="airHumGood" name="airHumGood" type="range" min="40" max="59" value="{{ values['airHumGood']}}" oninput="airHumGoodOutput.value = airHumGood.value">59%
	      					<p><output id="airHumGoodOutput">{{ values['airHumGood']}}</output>%</p>
	    				</div>
	    			</div>	
	    			<div class="col-md-4 text-center">
	    				<div class="container rounded bg-success text-white">
							<h5>Good Zone</h5>40%<input id="soilMoistGood" name="soilMoistGood" type="range" min="40" max="49" value="{{ values['soilMoistGood']}}" oninput="soilMoistGoodOutput.value = soilMoistGood.value">59%
							<p><output id="soilMoistGoodOutput">{{ values['soilMoistGood']}}</output>%</p>
			    		</div>
			    	</div>
				</div>
				<div class="row" style="margin-bottom: 15px">
	    			<div class="col-md-4 text-center">
	      				<div class="container rounded bg-warning text-white">
	      					<h5>Low Warning Zone</h5>20F<input id="airTempLowWarning" name="airTempLowWarning" type="range" min="20" max="49" value="{{ values['airTempLowWarning']}}" oninput="airTempLowWarningOutput.value = airTempLowWarning.value">49F
	      					<p><output id="airTempLowWarningOutput">{{ values['airTempLowWarning']}}</output>F</p>
	      				</div>
	    			</div>
	    			<div class="col-md-4 text-center">
						<div class="container rounded bg-warning text-white">	
	      					<h5>Low Warning Zone</h5>20%<input id="airHumLowWarning" name="airHumLowWarning" type="range" min="20" max="49" value="{{ values['airHumLowWarning']}}" oninput="airHumLowWarningOutput.value = airHumLowWarning.value">49%
	      					<p><output id="airHumLowWarningOutput">{{ values['airHumLowWarning']}}</output>%</p>
	    				</div>
	    			</div>	
	    			<div class="col-md-4 text-center">
	    				<div class="container rounded bg-warning text-white">
							<h5>Low Warning Zone</h5>20%<input id="soilMoistLowWarning" name="soilMoistLowWarning" type="range" min="20" max="49" value="{{ values['soilMoistLowWarning']}}" oninput="soilMoistLowWarningOutput.value = soilMoistLowWarning.value">49%
							<p><output id="soilMoistLowWarningOutput">{{ values['soilMoistLowWarning']}}</output>%</p>
			    		</div>
			    	</div>
				</div>
				<div class="row" style="margin-bottom: 15px">
	    			<div class="col-md-4 text-center">
	      				<div class="container rounded bg-danger text-white">
	      					<h5>Low Danger Zone</h5>0F<input id="airTempLowDanger" name="airTempLowDanger" type="range" min="0" max="19" value="{{ values['airTempLowDanger']}}" oninput="airTempLowDangerOutput.value = airTempLowDanger.value">19F
	      					<p><output id="airTempLowDangerOutput">{{ values['airTempLowDanger']}}</output>F</p>
	      				</div>
	    			</div>
	    			<div class="col-md-4 text-center">
						<div class="container rounded bg-danger text-white">	
	      					<h5>Low Danger Zone</h5>0%<input id="airHumLowDanger" name="airHumLowDanger" type="range" min="0" max="19" value="{{ values['airHumLowDanger']}}" oninput="airHumLowDangerOutput.value = airHumLowDanger.value">19%
	      					<p><output id="airHumLowDangerOutput">{{ values['airHumLowDanger']}}</output>%</p>
	    				</div>
	    			</div>	
	    			<div class="col-md-4 text-center">
	    				<div class="container rounded bg-danger text-white">
							<h5>Low Danger Zone</h5>0%<input id="soilMoistLowDanger" name="soilMoistLowDanger" type="range" min="0" max="19" value="{{ values['soilMoistLowDanger']}}" oninput="soilMoistLowDangerOutput.value = soilMoistLowDanger.value">19%
							<p><output id="soilMoistLowDangerOutput">{{ values['soilMoistLowDanger']}}</output>%</p>
			    		</div>
			    	</div>
				</div>
				<a href="#"><input style="width: 100%;border-radius: 1rem;
	    padding: 1.5%;
	    border: none;
	    cursor: pointer;
	    font-weight: 600;
	    color: #fff;
	    background-color: #0062cc;" type="submit" class="btnSubmit" value="Update"/></a>
			</div>
		</form>
	{% endblock %}
